<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="bree-font">Your request for a new Event has been approved</h1>
    <p class="font-20">
      The Event will now display on the calendar and map pages.
      <br>
      <br>
      You may view your Event details through the dashboard:
      <br>
      <br>
      <%= @url %>
      <br>
      <br>
      If you like to make changes to the Event, please contact coordinator@deltakids.ca.
    </p>
  </body>
</html>
