<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="bree-font">Pending Event for Review</h1>
    <br>
    <p class="font-20">
      There is a new pending event for review.
      <br>
      <br>
      ==========================================================
      <br>
      <br>
      <%= @event.title %>
      <br>
      <br>
      ==========================================================
      <br>
      <br>
      Please login to the dashboard to view the pending Event.
      <br>
      <br>
      <%= @url %>
    </p>
    </p>
  </body>
</html>
