<h1>admin/events seems to not be in use</h1>

<div classs="row">
  <div class="col-md-12">

    <h1>Pending Events</h1>

    <div class="table-responsive">

      <table class="table table-bordered table-hover" style="text-align:center;">
        <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
        </tbody>
      </table>

      <h1>Approved Events</h1>

      <table class="table table-bordered table-hover" style="text-align:center;">
        <thead>
          <tr>
            <th>Event</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Drop in Soccer</td>
            <td>Delta</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
