<div classs="row">
  <div class="col-xs-12 background-color">

    <h1>Pending Resources</h1>

    <div class="table-responsive">

      <table class="table table-bordered table-hover" style="text-align:center;">
        <thead>
          <tr>
            <th>Resoucer</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Resource ABC</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Resource ABC</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Resource ABC</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Resource ABC</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
          <tr>
            <td>Resource ABC</td>
            <td><button class="btn btn-default">Approve</button>
            <button class="btn btn-default">Decline</button></td>
          </tr>
        </tbody>
      </table>

      <h1>Approved Resources</h1>

      <table class="table table-bordered table-hover" style="text-align:center;">
        <thead>
          <tr>
            <th>Resource</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Resource XYZ</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Resource XYZ</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Resource XYZ</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Resource XYZ</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
          <tr>
            <td>Resource XYZ</td>
            <td><button class="btn btn-default">Delete</button>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
