<!-- Rainbow Footer-->

<div class="container-fluid happy-rainbow">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("https://user-images.githubusercontent.com/19618674/27264073-b9f5bbcc-542b-11e7-8c6a-97ef39c5c06f.png", class:"center-block") %>

    </div>
  </div>
</div>
