<<<<<<< HEAD
<div class="row">
      <div class="col-md-12 content">

      <div class="col-md-3 hidden-xs hidden-sm sidebar">
        <ul class="nav nav-sidebar ">
          <h2 class='age-group'>6-12 YEAR OLDS</h2>
          <p><a style="color:#00A3DA" href="#">Who to contact <br> for more infromation about...</a></p>
          <li class="active"><a href="#">Arts & Culture</a></li>
          <hr>
          <li><a href="#">Sports</a></li>
          <hr>
          <li><a href="#">Education</a></li>
          <hr>
          <li><a href="#">Community Clubs</a></li>
          <hr>
          <li><a href="#">Childcare</a></li>
          <hr>
        </ul>
      </div>

        <div class="col-md-9 organization-content">
            <div class="col-md-6">
              <h3>ORGANIZATIONS</h3>
            </div>
            <div class="col-md-5">
              <h3>PROGRAMS OFFERRED</h3>
            </div>


            <% 5.times do %>
            <div class="col-md-12">
                <hr class="divider">
            </div>

            <div class="col-md-12 ">
                  <div class="organization-details">


              <div class="organization-info col-md-6">
                <div class="organization-logo">

                </div>

                <div class="col-md-8 col-sm-7">
                  <p>Delta Parks & Rec</p>
                  <a href="#">Learn More</a>
                </div>
              </div>

              <div class="col-md-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              </div>
        </div>

            <% end %>

        </div>
 </div>

</div>

<div class="col-md-12 program-details-link">
      <h4>LOOKING FOR PROGRAM DETAILS?</h4>
      <div id="organization-button">
            Delta Parks & Rec Website
      </div>

=======
<!-- Rainbow Footer-->

<div class="container-fluid happy-rainbow">
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

    </div>
  </div>
>>>>>>> integration
</div>
