<div class="container">
  <div class="row">
    <div class="col-md-8">
      <!--  left column -->
      <div class="container-fluid" id="feature-box">
        <!-- set the image to be displayed -->
        <%= image_tag "DeltaKids1.jpg", class: "learn-more-image" %>

        <!-- text body below image -->
        <div class="container-fluid">
          <h1> Random Text </h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <!-- contact information -->
        <div class="container-fluid">
          <hr>
          <div class="row">
            <div class="col-md-6">
              <p> place information here </p>
              <p>1234, fake street, Delta, BC, V5I 7U8</p>
            </div>
            <div class="col-md-6">
              <p> phone: </p>
              <p> website: <a href="http://www.deltakids.ca"> www.deltakids.ca </a></p>
              <p> email:  coordinator@deltakids.ca</p>
            </div>
          </div>
        </div>

        <!-- Share Links -->
        <div class="container-fluid share-section">
          <hr>
          <h2>Share</h2>
          <br>
          <!-- share buttons -->
          <a href="#" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/email.png" border="0" alt="Email"/></a>
          <a href="#" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/facebook.png" border="0" alt="Facebook"/></a>
          <a href="#" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+"/></a>
          <a href="#" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/twitter.png" border="0" alt="Twitter"/></a>
          <!-- share buttons -->
        </div>
      </div>
    </div> <!-- col -->
    <!-- left column -->

    <!--  right column -->
    <div class="col-md-4">
      <div>
        <h2>Similar Events</h2>
      </div>

      <div class="similar-events-box">
        <%= image_tag "DeltaKids2.jpg", class: "similar-events-image" %>
        <div class="info-tag">
          <p>DeltaKids is a coalition of community partners. We work together to build Delta's capacity as a child-friendly community where all children thrive.</p>
          <br>
          <a href="#" class="learn-more-link">Learn More</a>
        </div>
      </div>

      <div class="similar-events-box">
        <%= image_tag "DeltaKids2.jpg", class: "similar-events-image" %>
        <div class="info-tag">
          <p>DeltaKids is a coalition of community partners. We work together to build Delta's capacity as a child-friendly community where all children thrive.</p>
          <br>
          <a href="#" class="learn-more-link">Learn More</a>
        </div>
      </div>

      <div class="similar-events-box">
        <%= image_tag "DeltaKids2.jpg", class: "similar-events-image" %>
        <div class="info-tag">
          <p>DeltaKids is a coalition of community partners. We work together to build Delta's capacity as a child-friendly community where all children thrive.</p>
          <br>
          <a href="#" class="learn-more-link">Learn More</a>
        </div>
      </div>

      <div class="see-more-button">
        <input type="submit" class="btn btn-primary" value="SEE MORE"></input>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
  <!--  right column -->
</div>
