<!-- Rainbow Footer-->

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="container-fluid happy-rainbow center-flex-content">

      <%= image_tag("rainbow-footer-group.svg",style:"width:100%") %>

    </div>
  </div>
</div>
