<div class="container-fluid">
  <p class="dashboard-headers">Welcome to the Dashboard</p>
</div>
<div class="container-fluid">
  <br>
  <br>
  <p class="font-20">
    If you would like to add an event or a resource to our website, you are in the right place. Please Log In or create an account as a New User.
</p>
<br>
<p class="font-20">
  Please note: All events and resources are checked and approved by the website administrator. This means there may be a few days delay before you see your item up on our website. If we can’t upload your event or resource, we will let you know.
</p>
<br>
<p class="font-20">Thank you for your patience!</p>
</div>
