<nav class="navbar">

  <div class="container deltakids-logo">
    <div class="pull-right about-us">

      <a href="<%= new_organization_path %>" class="about-us">Organizations</a>
      |
      <a href="<%= new_event_path %>" class="about-us">Events</a>
      |
      <a href="<%= new_resource_path %>" class="about-us">Resources</a>
    </div>
    <%= image_tag ("Delta-logo.png") %>
  </div>

</nav>

<div class="page-padding"></div>
