<div class="wholePage">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 content">

            <%= render 'partials/dash_sidebar' %>

            <div class="col-md-9 dash-main-content">
              <div class="container-fluid">
                <p class="dashboard-headers">Welcome to the Dashboard</p>
              </div>
              <div class="container-fluid">

                <% if user_signed_in? %>
                <p class="dashboard-text2">The Text below is here to show what a welcome message may look like</p>
                <br>
                <p class="dashboard-text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="dashboard-text2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  <br>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <% else %>
                  <div class="container-fluid">
                    <p class="font-20">
                      The Dashboard section is meant to publish a Resource and/or Event. In order to proceed you must have an account with us. Please Log In or create a New User.
                      <br>
                      <!-- <%= link_to 'New User', signup_path, class: 'top-right-panel' %>&nbsp -->
                      <!-- <div class="">
                      <%= link_to 'Log In', login_path, class: 'top-right-panel' %>&nbsp
                    </div> -->
                  </p>
                  <br>
                  <p class="font-20">
                    If you don't want to proceed, please feel free to go elsewhere in our site.
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
</div>

<%= render 'partials/footer' %>
