<div class="container-fluid search">
  <br/><br/>
  <div class="row">
    <div class="col-md-12">
      <%= form_for("")do |f|  %>
        <div class="search-field">
          <%= f.text_field :search, class: ' search-textfield', placeholder: "Search" %>
          <%= image_tag "icon-search.svg", class: "icon-search" %>
        </div>
      <% end %>
    </div>
  </div>
</div>



<div class="relative-enabler">
<div class="container-fluid happy-rainbow">
  <br/><br/>
  <div class="row">
    <div class="col-md-12">

      <%= image_tag("girl-search-with-rainbow.svg", class:"center-block") %>
      <!-- if not found, show this instead: girl-search-not-found-with-rainbow.svg -->
    </div>
  </div>
</div>
</div>
