
<div>
  <%= link_to image_tag("fatherandkids.jpg", id:"fatherandkids") %>
</div>

<div class="container-fluid survey-background flex">

  <div id="survey-results">
    <h1 class="bree-font">SURVEY RESULTS</h1>
    <hr>
    <p>Results of the Child-Friendly Survey<p>
      <hr>
      <p>DeltaKids conducted a survey of children and families in Delta.  We wanted to know what was working for them, and what was not.  Below, you can find details of the survey for different interest groups.  There is a report for:</p>
      <ul>
        <li><a href="#">Businesses</a></li>
        <li><a href="#">Child Care</a></li>
        <li><a href="#">Health</a></li>
        <li><a href="#">Helping Services</a></li>
        <li><a href="#">Media</a></li>
        <li><a href="#">Municipality</a></li>
        <li><a href="#">Parks, Recreation & Culture</a></li>
        <li><a href="#">Schools</a></li>
        <li><a href="#">Sports</a></li>
      </ul>

      <p id="grey-me">(Click the report subject in the list above to download the report)</p>

      <p>In addition, there is a short description of the Early Years Instrument (EDI).  This tool shows how children are doing in Delta in comparison to the rest of the province.</p>

      <ul>
        <li>Early Years Instrument (EDI) Report</li>
      </ul>

      <p>We offer this data in the hope that it will assist you in your work with Delta children and families, and in the spirit of prompting further discussion, research, and collaboration.  Together we can make Delta an even more family friendly community than it is already.</p>

      <p>If you have questions about the survey or would like additional details please be in touch with <a href="#">Jason Hodgins</a>.</p>

      If you would like to arrange a presentation, explore opportunities to collaborate with DeltaKids, or share ways you have found this information useful please me in touch with <a href="#">Andrea Lemire.</a></p>

    </div>

    <div class="pull-right" id="latest-news">
      <ul>
        <h4 class="bree-font">Latest News</h4>
        <hr>
        <a href="#">Resources in Delta for Child & Youth Mental Health</a>
        <hr>
        <a href="#">What's new for June</a>
        <hr>
        <a href="#">Food Skills for Families!!!!</a>
        <hr>
        <a href="#">Day Care, Preschool & Drop-in Programs</a>
        <hr>
        <a href="#">How to "Live 5-2-1-0"!</a>
        <hr>
      </ul>
    </div>
  </div>

    <!-- Rainbow footer -->
    <div class="relative-enabler">
      <div class="container-fluid happy-rainbow">
        <div class="row">
          <div class="col-md-12">

          <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

        </div>
      </div>
    </div>
  </div>
