<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="bree-font">Your request for a new Resource has been approved</h1>
    <p class="font-20">
      The Resource will now display on the resources page.
      <br>
      <br>
      You may view your Resource details through the dashboard:
      <br>
      <br>
      <%= @url %>
      <br>
      <br>
      If you like to make changes to the Resource, please contact coordinator@deltakids.ca
    </p>
  </body>
</html>
