<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="bree-font">Your request for a new Resource has been declined</h1>
    <p class="font-20">
      For additional details see below:
    </p>
    <p class="font-20">
      Event "<%= @resource %>" has be declined for the following reason(s):
    </p>
    <p class="font-20">
     <%= @message %>
    </p>
  </body>
</html>
