<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 class="bree-font">Pending Resource for Review</h1>
    <br>
    <p class="font-20">
      There is a new pending resource for review.
      <br>
      <br>
      ==========================================================
      <br>
      <br>
      <%= @resource.resource_name %>
      <br>
      <br>
      ==========================================================
      <br>
      <br>
      Please login to view the pending Resource.
      <br>
      <br>
      <%= @url %>
    </p>
    <br>
  </body>
</html>
