.white-background {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}

#main-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.background-color {
  background-color: #D1F0F4;
}

#about-us-container {
  background-color: white;
  padding: 0px;
}

#about-us {
  color: #00A3DA;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.headers {
  color: #004C81;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.kids-img {
  background-color: #D1F0F4;
  
}

.sub-headers {
  color: #004C81;
  font-size: 16px;
  font-family: 'Open Sans Semi-Bold', sans-serif;
}

#sponsors-header {
  margin-top: 5px;
}

.blurb {
  font-family: 'Open Sans Semi-Bold', sans-serif;
}

#filler {
  height: 317px;
}

#goal {
  font-family: 'Open Sans', sans-serif;
  color: #00A3DA;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hands {
  margin-bottom: 10px;
}

.blue-background {
  background-color: #f3fbfd;
  margin: 0px;
  margin-left: -10px;
  margin-right: -10px;
}

.sub-headers {
  margin-top: 2px;
}

.img {
  margin-left: 0px;
  margin-right: 0px;
}

.cursor2 {
  width: 7px;
  margin-left: 5px;
  margin-top: 3px;
}

.website {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #00A3DA;
}

.partner-logo {
  margin-top: 8px;
}

.sponsors-img {
  padding: 5px;
}

#flex-enabler {
  display: flex;
  flex-direction: row;
}
