.white-background {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
}
#main-body {
  padding:5%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  padding-bottom: 30px;
}
.background-color {
  padding-top: 20px;
  background-color: #D1F0F4;
}
#about-us-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px;
}

#about-us {
  color: #00A3DA;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 10px;
}

.headers {
  color: #004C81;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}
.kids-img {
  background-color: #D1F0F4;
  width: 100%;
  height: auto;
}
.sub-headers {
  color: #004C81;
  font-size: 16px;
  font-family: 'Open Sans Semi-Bold', sans-serif;
}

#sponsors-header {
  color: #0DA3DA;
  margin-top: 5px;
  margin-bottom:30px;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
}

.blurb {
  font-family: 'Open Sans Semi-Bold', sans-serif;
}

#goal {
  font-family: 'Open Sans', sans-serif;
  color: #00A3DA;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hands {
  margin-bottom: 10px;
}
.blue-background {
  background-color: #f3fbfd;
  margin: 0px;
  margin-left: -10px;
  margin-right: -10px;
}
.sub-headers {
  margin-top: 2px;
}
.img {
  margin-left: 0px;
  margin-right: 0px;
}
.cursor2 {
  width: 7px;
  margin-left: 5px;
  margin-top: 3px;
}
.sponsors-padding {
  margin: 2%;
  min-height: 140px !important;
}
#filler {
  height: 80%;
}
.page-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.page-font2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.website {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #00A3DA;
}
.partner-logo {
  margin:auto;
}

.partner-logo-img {
  height: 100px;
  width: 100px;
}
.sponsors-img {
  padding: 5px;
}
#flex-enabler {
  display: flex;
  flex-direction: row;
}
