
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
  *= require jquery-ui/datepicker
 *= require bootstrap-timepicker
 *= require chosen
 *= require font-awesome
 *= require_tree .
 *= require_self
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";

 @media only screen and (min-width: 765px) {
   #reg-header {
     display: "";
   }
   .page-padding {
     height:60px;
   }
   #mobile-header {
     display: none;
   }
   #live5210-img-container {
     height:350px;
   }
   .mobile-block {
     display: inline;
   }
}

 @media only screen and (max-width: 764px) {
   .happy-rainbow {
     padding-top:0px;
   }
    #mobile-header {
      display: "";
    }
    #reg-header {
      display: none;
    }
    .page-padding {
      height:30px;
    }
    #live5210-img-container {
      height:200px;
    }
    .mobile-block {
      display: block;
    }
    #section1-heading, {
     margin-left:25%
    }
    #plan-for-living-heading,
    #new-resources-heading {
      text-align:center;
    }
    .mobile-font-10 {
      font-size:10px !important;
    }
    .mobile-font-16 {
      font-size:16px !important;
    }
    .mobile-font-24 {
      font-size:24px !important;
    }
    .cal-links {
       word-break: break-all;
    }
    .live-btm-imgs {
      left:0;
    }
    #latest-news,
    #survey-results {
      width:100%;
      margin:10px 0px 10px 0px;
    }
    .page-padding {
      height:75px;
      margin-bottom: 10px;
    }
    .content {
      padding: 15px !important;
    }
    #pad-200 {
      padding-top:200px;
    }
    #contact-us-text {
      font-size:20px;
      bottom:60px;
    }
    #boyrunning {
      padding-bottom: 50px;
    }
    #boyrunning-container {
      height:200px;
    }
    .bree-font {
      font-size:30px;
    }
    .event-row {
      padding:0;
    }
    .event-row .event-subsection2 {
      padding:10px;
    }
    .div-tags {
      flex-direction: column;
    }
    .report-button {
      margin:3px;
    }
    .calendar-subsection2 {
      padding-left:0 !important;
      padding-right:0 !important;
    }
    .calendar-title {
      text-align: center !important;
    }
    .event-info {
      flex-direction: column;
    }




}
