.contact-us-body {
  background-color: #D1F0F4;
  padding-bottom:200px;
}


#boyrunning {
  display: block;
  position: relative;
  margin: auto;
  width: 100%;
  padding-bottom: 100px;
  background-color: white;
  margin-top: 40px;
}
#contact-us-text {
  color:#00A3DA;
  position: relative;
  bottom: 90px;
  width: 100%;
  text-align:center;
  vertical-align:text-bottom;
}

.contact-form {
  border-color: #00A3DA;
}

#jumbo-about-us {
  padding: 10px 0 10px 0;
  display: block;
    margin: auto;
    width: 100%;
    height:45%;
}

.flex {
  display: flex;
}

#contact-box {
  width:60%;
  border-radius: 10px;
  background-color: white;
  float: left;
  padding: 15px;
}

#about-us-box {
  display: inline;
  width:38%;
  border-radius: 10px;
  background-color: white;
  padding-top:15px;
  padding-bottom:10px;
}

#btn-padding {
  margin-top: 15px;
}

.caret-right {
   border-left: 4px solid;
   border-bottom: 4px solid transparent;
   border-top: 4px solid transparent;
}

/*...............................................................*/


#feature-box {
  width:100%;
  background-color: white;
  padding: 0px;
}

.see-more-button {
  padding-top: 30px;
}

.learn-more-image {
  width: 100%;
}

.info-tag {
  background-color: white;
}

.similar-events-box {
  display: inline;
  background-color: white;
}

.similar-events-image {
  display: block;
  width: 100%;
  height: 160px;
}

.share-section {
  padding-bottom: 50px;
}
