
.wholePage{
  background-color: #d1f0f4;
}

.background-wrap {
  background-color: #d1f0f4;
}

.container-background {
  background-color: #d1f0f4;
}

.calendar-subsection2-card {
  margin-top: -40px;
}

.filterCard-header2{
  /* All locations: */
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 16px;
  color: #000000;

}

.filterCard-list {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000000;

}

.button-seemore{
  background: #00A3DA;
  border-radius: 10px;
  border: none;
  height: 50px;
  width: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}

.button-cluster {
  display: flex;
  justify-content: space-around;
}

.queue-header {
  color: #004C81;
}
