
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

	.wholePage{
		background-color: #d1f0f4;
	}
	.calendar-row{
		padding: 80px;
	}
	#calendar-subsection1{
		background-color: #fff;
		border-radius: 10px;
	}
	#calendar-subsection1 img {
	margin: 0;
	}
	.icon-img{
		height: 35px;
		width: 35px;
/* 		display: inline; */
	}
	#filter-header{
/* 		line-height: 60px; */
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		justify-content: space-between;
	}
	#filterText {
		font-family: BreeSerif-Regular;
		font-size: 30px;
		color: #004C81;

	}
	.filter-header-img{
		width: 100%;
		margin: 0;
		height: auto;
		padding-top: 15px;
	}
	.filter-header-chevron{
		width: 18px;
		height: 9px;
		display: inline;
	}
	.filter-header2{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.filterCard-header1{
		/* For: */
		font-family: OpenSans-Semibold;
		font-size: 14px;
		color: #00A3DA;

	}
	.filterCard-header2{
		/* All locations: */
		font-family: OpenSans-Bold;
		font-size: 16px;
		color: #000000;

	}
	.filter-header-chevron{
	}
	.filterCard-list {
		font-family: OpenSans;
		font-size: 16px;
		color: #000000;

	}
	// .filterCard-line{

	// 	background: #1c1a1a;
	// 	line-height: 1px;
	// 	border-top: 1px solid #aeaeae !important;
	// }
	.calendar-subsection2-image{
		width: 100%;
		height: auto;
	}
	.calendar-subsection2-card{
	    margin-right: 0px;
/* 	    	margin-left: 20px;	 */
	}
	.calendar-row .calendar-subsection2{
		padding-left: 40px;
	}
	.calendar-subsection2-text{
		background: #fff;
	}
	.calendar-subsection2-header{
		/* ACTIVITIES CALENDAR: */
		font-family: BreeSerif-Regular;
		font-size: 36px;
		color: #00A3DA;
		letter-spacing: 0.5px;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.calendar-header{
		/* Featured: */
		font-family: BreeSerif-Regular;
		font-size: 30px;
		color: #004C81;
		padding-bottom:30px;
	}
	.calendar-subsection2-header2{
			/* Family Empowerment P: */
		font-family: OpenSans-Bold;
		font-size: 20px;
		color: #004C81;

	}
	.calendar-subsection2-details{
		padding: 8px;
		background-color: #fff;
	}
	.calendar-subsection2-text{
		background-color: #fff;
	}
	.calendar-subsection2-card{
		margin-bottom: 30px;
		background-color: #fff;
	}
	.event-info-txt-bold{
		/* Event - 04/01/17: */
		font-family: OpenSans-Extrabold;
		font-size: 14px;
		color: #00A3DA;

		float: left;
		padding-left: 5px;
	}
	.event-info-txt{
		/* 4:30pm: */
		font-family: OpenSans;
		font-size: 14px;
		color: #00A3DA;

		float: left;
		padding-left: 5px;
	}
	.event-info-icon{
		width: 20px;
		height: 20px;
		float: left;
	}
	.event-info-icon2{
		display: inline;
		width: 20px;
		height: 20px;
		float: left;
	}
	.event-info1{
		padding-left: 10px;
		margin-left: 20px;
	}
	.event-info2{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.event-info{
		display: flex;
		justify-content: space-between;
	}
	.event-paragraph{
		/* Lorem ipsum dolor si: */
		font-family: OpenSans;
		font-size: 16px;
		color: #000000;

	}
	.event-info-bold2{
	/* Learn More: */
		font-family: OpenSans-Bold;
		font-size: 16px;
		color: #00A3DA;

	}
	#button-seemore{
	  background: #00A3DA;
	  border-radius: 10px;
	  height: 50px;
	  width: 150px;
	  font-family: OpenSans-Semibold;
	  font-size: 16px;
	  color: #FFFFFF;
	  letter-spacing: 0;
	  line-height: 50px;
	  display: block;
	  margin: 0 auto;
	  text-align: center;
	  margin-top: 30px;
	}

	#button-add-resource{
	  background: #00A3DA;
	  border-radius: 10px;
	  height: 50px;
	  width: 500px;
	  font-family: OpenSans-Semibold;
	  font-size: 16px;
	  color: #FFFFFF;
	  letter-spacing: 0;
	  line-height: 50px;
	  display: block;
	  margin: 0 auto;
	  text-align: center;
	  margin-top: 30px;
	}

	.new-admin-form{
	  padding:20px;
		width: 100vw !important;
	  background-color: #D1F0F4;
	}
