
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fit-img {
	height:100%;
	width:100%;
	object-fit: cover
}

.wholePage{
	background-color: #d1f0f4;
	padding-top: 15px;
}

#calendar-section1{

}


.event-image-container {
	height:325px;
	width: 100%;
}

.day-scroller {
	min-height: 50px;
	max-height: 100px;
	max-width: 130px;
	overflow: -moz-scrollbars-vertical;
  overflow: scroll;
}

.cal-links {
	color:#3ea3da;
	margin-bottom: 0px;
}

.calendar-popup-content {

}

.testClass a {
	margin: 2px;
}

.calendar-row{
	padding: 10px 3% 5% 3%;
}

.font-16 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.font-20 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.collapse-menu {
	margin-top: 10px;
}

#calendar-subsection1 {
	background-color: #F0FFFF !important;
	border-radius: 10px;
}

#calendar-subsection1 img {
	margin: 0;
}

.icon-img {
	height: 35px;
	width: 35px;
}

#filter-header {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	justify-content: space-between;
}

#filterText {
	font-family: BreeSerif-Regular;
	font-size: 30px;
	color: #004C81;
}

.filter-btn {
	width: 200px;
	height: 50px;
	margin-bottom: 50px;
}

.filter-header-img {
	width: 100%;
	margin: 0;
	height: auto;
	padding-top: 15px;
}

.filter-header-chevron {
	width: 100%;
	height: 100%;

}

.rotate-chevron {
	transform: rotate(180deg);
}

.rotate-chevron {
	transform: rotate(180deg);
}

.filter-header2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.filterCard-header1 {
	/* For: */
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-size: 20px;
	color: #00A3DA;
	margin: 0px;
}

.filter-header-container {
	margin-bottom: 5px;
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.filterCard-header2 {
	/* All locations: */
	font-family: OpenSans-Bold;
	font-size: 16px;
	color: #000000;
}

.filterCard-list {
	font-family: OpenSans;
	font-size: 16px;
	color: #000000;
}

.calendar-subsection2-image {
	background-color:#D1F0F4;
	width: 100%;
	height: 300px;
}

.calendar-subsection2-card {
  margin-right: 0px;
	margin-bottom: 20px;
	background-color: #fff;
}

.calendar-row .calendar-subsection2 {
	top:0;
}

.calendar-subsection2-text {
	background: #fff;
}

.calendar-subsection2-header {
	font-family: 'Bree Serif', serif;
	font-size: 36px;
	color: #00A3DA;
	letter-spacing: 0.5px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.calendar-header {
	font-family: BreeSerif-Regular;
	font-size: 30px;
	color: #004C81;
	padding-bottom:30px;
}

.calendar-subsection2-header2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #004C81;
}

.calendar-subsection2-details{
	padding: 8px;
	background-color: #fff;
}

.calendar-subsection2-text{
	background-color: #fff;
}

.event-info-txt-bold{
	/* Event - 04/01/17: */
	font-family: OpenSans-Extrabold;
	font-size: 14px;
	color: #00A3DA;
	float: left;
	padding-left: 5px;
}

.event-info-txt{
	/* 4:30pm: */
	font-family: OpenSans;
	font-size: 14px;
	color: #00A3DA;
	float: left;
	padding-left: 5px;
}

.event-info-icon{
	width: 20px;
	height: 20px;
	float: left;
}

.event-info-icon2{
	display: inline;
	width: 20px;
	height: 20px;
	float: left;
}

.event-info1{
	padding-left: 10px;
}

.event-info2{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.event-info{
	display: flex;
	justify-content: space-between;
}

.event-paragraph{
	font-family: OpenSans;
	font-size: 16px;
	color: #000000;
}

.event-info-bold2{
	font-family: OpenSans-Bold;
	font-size: 16px;
	color: #00A3DA;
}

#button-seemore{
 	background: #00A3DA;
 	border-radius: 10px;
 	height: 50px;
 	width: 150px;
 	font-family: 'OpenSans', serif;
 	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 50px;
	display: block;
	margin: 0 auto;
	text-align: center;
}
#button-add-resource{
  	background: #00A3DA;
  	border-radius: 10px;
  	height: 50px;
  	width: 500px;
  	font-family: OpenSans-Semibold;
  	font-size: 16px;
  	color: #FFFFFF;
  	letter-spacing: 0;
  	line-height: 50px;
 	 display: block;
  	margin: 0 auto;
  	text-align: center;
  	margin-top: 30px;
}

.caps {
	 text-transform: capitalize;
}

.create-new-container {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
}

.label-radio-space {
	margin-right: 10%;
	font-size: 16px;
}

.create-new-container .form-group {
	display:flex;
	align-items:center;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.margin-right {
	margin-right: auto;
}

.margin-left {
	margin-right: auto;
}

.margin-left-10px {
	margin-left: 10px;
}


.label-baseline {
	margin-right: auto;
	width:25%;
}

.center-flex-content {
	display: flex;
	justify-content: center;
	font-size: 16px;
}

.form-padding {
	margin-left: 10px;
}

.center-flex-content {
	display: flex;
	justify-content: center;
}


.new-admin-form{
  padding:20px;
	width: 100vw !important;
  background-color: #D1F0F4;
}

.table-hover {
	color:white;
	border-radius: 10px;
 	background-color:#00A3DA !important;
}

.table-hover tbody > tr:hover {
	background-color:#004C81 !important;
}

.table-hover button {
	background-color: #F0FFFF !important;
}

.table-hover button:hover {
	background-color: yellow !important;
}

.disable-scrolling {
		overflow: hidden;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 50%;
    height: 80%;
		overflow-y: auto;
    background-color: #144D7D;
    color: #fff;
		padding:5px 15px 15px 15px;
    border-radius: 6px;
    position:fixed;
    z-index: 1;
    bottom:8%;
    right:10%;
}

.fa-times:hover {
	color: #3ea3da !important;
}
.calendar-heading a {
	font-family: 'Open Sans', sans-serif;
	font-size:20px !important;
}

.calendar-title {
  font-family: 'Bree Serif', serif;
	font-size:35px !important;
}

.popup-pic {
	height: 275px;
	width: 100%;
}


/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
