.one-point-five-em {
  font-size: 1.5em
}

.margin-t-1p {
  margin-top: 5%;
}

.ddm-scroll {
  max-height:300px;
  overflow-y: scroll;
}

#mobile-header-logo {
  height:55px;
  margin:3% 0 0 5% ;
}

.header-nav-cloud {
  z-index: 1;
  background-image: url("cloud1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  top: 80px;
  margin-bottom: none !important;
}

#mobile-header {
  border:none;
  width: 100vw;
  background-color: white !important;
  z-index: 3;
  position: fixed;
  margin-bottom:10px;
  height:45px !important;
}

#mobile-header .navbar-collapse{
  background-color: white !important;
  width: 100vw;
  position: relative;
  top:-2px;
}

#header-nav-cloud-mobile {
  z-index: 3;
  background-image: url("cloud1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  margin-bottom: 0;
  position: relative;
  top:-2px;
  width: 100%;
  height: 35px;
}

.nav-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  color: #004C81;
}

.learn-prog-serv-dropdown {
  position: relative;
  top:-15px;
}

.btn-group.open {
  position: static;
}

.flex-spacebtwn > p > a {
  text-decoration: none;
}

.programs-ul > li > a {
  text-decoration: none;
}

.programs-ul > li > a {
  text-decoration: none;
}

.header-titles {
  text-decoration: none !important;

}

.learn-li > li > a {
  text-decoration: none;
}

.learn-li > li > a:hover {
  color:#00A3DA !important;
}

.services-ul > li > a {
  text-decoration: none;
}

.programs-li > li > a {
  text-decoration: none;
}

.programs-li > li > a {
  text-decoration: none;
}

.programs-li > li > a:hover {
 color:#00A3DA !important;
}

.services-ul > li > a:hover {
 color:#00A3DA !important;
}

.btn-group.open {
  position: static;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #004C81;
}

#program-arrow {
  position: relative;
  left:53%;
  top: -30px;
}

#service-arrow {
  position: relative;
  left: 72%;
  top: -30px;
}

#learn-arrow {
  position: relative;
  left: 30%;
  top: -30px;
}

.header-menu {
  margin-top: 40px !important;
  left:15px !important;
  top: 80% !important;
  min-width: auto !important;
  background-color: #004C81 !important;
  width: 96vw !important;
  position: absolute;
}


/* STYLES TO STACK LEARNING DROPDOWN */
.learning-dropdown-menu {
  background-color: #004C81 !important;
  min-width: 200px !important;
  color: white !important;
}
.learning-dropdown-div {
  font-size: 20px;
  font-family: ‘Open Sans’, sans-serif;
  padding: 10px !important;
}
.learning-dropdown-div  > li > a {
  text-decoration: none;
}

.learning-dropdown-div  > li > a:hover {
  color:#00A3DA !important;
}
/* END OF LEARNING DROPDOWN BUTTON */

.nav-font {
  font-family: ‘Open Sans’, sans-serif;
  font-size: 20px;
  display: inline;
}
.top-right-panel {
  margin-right: 20px;
  margin-top: 10px;
}

.dropdown-col {
  font-size: 20px;
  font-family: ‘Open Sans’, sans-serif;
  display: flex;
  justify-content: space-around;
}

.programs-ul {
  width: 50%;
}

.services-ul {
  width: 33%;
}

.programs-li {
  width: 45%;
  display: inline-block;
}

.deltakids-logo {
  position: relative;
  bottom: 80px;
}

#delta-image {
  padding-left: 45px;
  margin-top: 5px;
}

#delta-image > img {
  height: 100px;
}

.flex-spacebtwn {
  position: relative;
  bottom: 80px;
  padding-top: 10px;
  /*padding-bottom: 50px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-btn {
    background-color: white !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.head-btn:focus {
  background-color:#00A3DA !important;
}


.btn.dropdown-toggle {
  border:none;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
}

.nav-hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border-color:#FFF200;
}

.dropdown-category {
  color:#FFF200;
}

.page-padding {
  position: relative;
  top:10px;
  height: 75px;
  width: 100%;
  background-color: #D1F0F4
}

.glyphicon-search {

}
