
.nav-font {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline;
  color: #004C81;
}

.btn-group.open {
  position: static;
}

.flex-spacebtwn > p > a {
  text-decoration: none;
}

.programs-ul > li > a {
  text-decoration: none;
}

.programs-ul > li > a {
  text-decoration: none;
}

.header-titles {
  text-decoration: none !important;

}

.learn-li > li > a {
  text-decoration: none;
}

.learn-li > li > a:hover {
  color:#00A3DA !important;
}

.services-ul > li > a {
  text-decoration: none;
}

.programs-li > li > a {
  text-decoration: none;
}

.programs-li > li > a {
  text-decoration: none;
}

.programs-li > li > a:hover {
 color:#00A3DA !important;
}

.services-ul > li > a:hover {
 color:#00A3DA !important;
}

.btn-group.open {
  position: static;
}

.header-menu {
  left:15px !important;
  top: 80% !important;
  min-width: auto !important;
  background-color: #004C81 !important;
  width: 96vw !important;
  position: absolute;
}

.nav-font {
  font-family: ‘Open Sans’, sans-serif;
  font-size: 20px;
  display: inline;
}
.top-right-panel {

}

.dropdown-col {
  font-size: 20px;
  font-family: ‘Open Sans’, sans-serif;
  display: flex;
  justify-content: space-around;
}

.programs-ul {
width: 50%;
}

.services-ul {
width: 33%;
}

.programs-li {
width: 45%;
display: inline-block;
}

.deltakids-logo {
  padding-left: 40px !important;
  padding-right: 35px !important;
  position: relative;
  bottom: 60px;
}

.flex-spacebtwn {
  position: relative;
  bottom: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-btn {
    background-color: white !important;
}

.head-btn:focus {
  color:#00A3DA !important;
}

.head-btn:focus,.head-btn:active {
   outline: none !important;
}

.btn.dropdown-toggle {
  border:none;
}

ul {
  list-style: none;
}

li a {
  text-decoration: none;
  color: white !important;
}

.nav-hr {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 0px;
  border-color:#FFF200;
}

.dropdown-category {
  color:#FFF200;
}

.page-padding {
  position: relative;
  top:5px;
  height: 75px;
  width: 100%;
  background-color: #D1F0F4
}

.glyphicon-search {

}
