.btn-group.open {
  position: static;
}

.header-menu {
  min-width: auto !important;
  background-color: #004C81 !important;
  width: 96vw !important;
  position: absolute;
  left:0;
}


.about-us {
  padding: 30px;
}

.dropdown-col {
  display: flex;
}


.flex-spacebtwn {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deltakids-logo {
  padding: 50px 0 0 50px;
}

.btn.dropdown-toggle {
  border:none;
}

ul {
  list-style: none;
}


h4 {
  display: inline;
}

 ul.dropdown-menu a {
  color: white !important;
}



 ul.dropdown-menu hr {
  border-color:#FFF200 !important;
}


.dropdown-category {
  color:yellow;
}
