
/* ------------- Section1 elements ------------- */
/* Welcome to Delta Kid: */

#welcome-line1 {
    font-family: 'Bree Serif', serif;
    font-size: 55px;
    color: #004C81;
    letter-spacing: 0.5px;
    line-height: 90px;
    text-shadow: 4px 4px 0 #FFFFFF;
    text-align: center;
}
#welcome-line2 {
    font-family: 'Bree Serif', serif;
    font-size: 80px;
    color: #004C81;
    letter-spacing: 0.5px;
    line-height: 90px;
    text-shadow: 4px 4px 0 #FFFFFF;
    text-align: center;
}
#welcome-line3 {
    /* We are your One-Stop: */

    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #00A3DA;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
}
#welcome-line4 {
    /* We are your One-Stop: */

    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #00A3DA;
    letter-spacing: 0;
    line-height: 40px;
    text-align: center;
}
#button-learnmore {
    background: #FFF200;
    border-radius: 10px;
    box-shadow: 0px 4px #00A3DB;
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #00A3DA;
    letter-spacing: 0;
    line-height: 50px;
}
.clouds-background {
    background-image: url('clouds.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 365px;
    display: block;
    margin: auto;
    width: 100%;
    align-self: center;
}
.section1-container {
    padding: 55px;
}
.section1 {
    height: auto;
    background-color: #D1F0F4;
}
.section1-text {
    padding-top: 60px;
    padding-bottom: 80px;
}

/* ------------- Section2 elements ------------- */
.section2-container {
    background-image: url('kids-green-background.png');
    background-size: 100% 100%;

}
.section2 {
//     height: 528px;
    background-color: #D1F0F4;
}
.kids-image{
    width: 100%;
    height: auto;
    padding: 50px 50px 120px 50px;
}


/* ------------- Section3 elements ------------- */
#section3-line1,
#section3-line2,
#section3-line3 {
    font-family: 'Bree Serif', serif;
    font-size: 36px;
    color: #004C81;
    letter-spacing: 0.3px;
    line-height: 44px;
    text-align: center;
}

#button-activities-cal {
    background: #00A3DA;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;

}
.section3 {
//     height: 528px;
    background-color: #FFF;
}

/* ------------- Section4 elements ------------- */

<<<<<<< HEAD
.col-md-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
=======

.whats-new {
  width: 100%;
>>>>>>> origin/integration
}



#whats-new-board {
  // background-color: red;
  background-color: white;

}

#whats-new {
  color: #00A3DA;
  font-family: 'Bree Serif', serif;
  margin-left: 8px;
}

.whats-new {
  // background-color: green;
  background-color: #D1F0F4;
}

#shit {

}

#view-all {
  float:right;
  margin-top: -54px;
  background-color: #00A3DA;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

.outer-blue-container {
  // background-color: green;
  background-color: #D1F0F4;
  padding-top: 30px;
}

.new-events {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #00A3DA;
}

.posted-on {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #00A3DA;
}

.learn-more {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #00A3DA;
  float: right;
  margin-top: -3px;
}

.cursor {
  width: 7px;
  margin-left: 10px;
  float: right;
}

/* fifth section elements */

.background-color {
 background-color: #D1F0F4;
}
.bus {
  margin-left: 10%;
}



/* ============================================================ */
