.live5210 {
  margin-left: 15px;
}

#section1-heading {
  margin: 30px 50px 50px 20px;
}

.new-resources-heading {
  padding: 50px 0 50px 0;
}

.plan-for-living-heading {
  padding: 50px 0 50px 0;
}

.resources-text-body {
  font-size: 20px;
}
.section1-text {
  font-size: 20px;
}

.live5210-background {
  background-image: url('live.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 565px;
  display: block;
  margin: auto;
  width: 100%;
}

.live52102-background {
  background-image: url('5210-image2.png');
  background-repeat: no-repeat;
  height: 465px;
  margin: auto;
  width: 100%;
  align-self: center;
}

.live-page-container {
  background-color: #D1F0F4;
  padding: 55px 40px 20px 40px;
}

.section2 {
  background-color: white;
}

p {
  font-family: 'Open Sans Semi-Bold', sans-serif;
}
