.live5210 {
  margin-left: 15px;
}

#section1-heading {
  margin: 30px 50px 50px 20px;
}

.new-resources-heading {
  padding: 40px 0 40px 0;
}

.plan-for-living-heading {
  padding: 10px 0 10px 0;
}

.resources-text-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.section1-text {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom:20px;
  padding-top:30px;
}

.live5210-background {
  height: 300px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1%;
}

#live5210-img {
  height:103%;
  width:85%;
}

#carrot-image {
  position: relative;
  left: -5%;
  height: 100%;
  width: 100%;
}

#lets-go-image {
  position: relative;
  left: -5%;
  height: 100%;
  width: 100%;
}

.live52102-background {
  height: 365px;
  margin: auto;
  width: 100%;
}


.live-page-container {
  background-color: #D1F0F4;
  padding: 5px 40px 20px 40px;
}

.section2 {
  background-color: white;
}

p {
  font-family: 'Open Sans Semi-Bold', sans-serif;
}
