.login-container {
  text-align: center;
  padding-top: 20px;
}
.login-header {
  font-family: 'Bree Serif', sans-serif;
}
.login-image {
  height: 66vh;
  background-image: url('kids-green-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  bottom: -2px;
  background-color: #D1F0F4;
}
.signup-image {
  background-image: url('clouds.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  background-color: #D1F0F4;
  bottom: -2px;
}
.form-field {
  padding-top: 20px;
}
