


	#calendar-subsection1 {
		background-color: #fff;
		border-radius: 10px;
	}

	#calendar-subsection1 img {
	margin: 0;
	height: inherit;
	}

	.icon-img {
		height: 35px;
		width: 35px;
/* 		display: inline; */
	}

	#filter-header {
/* 		line-height: 60px; */
		display: flex;
		flex-direction: row;
		padding-top: 10px;
		justify-content: space-between;
	}

	#filterText {
		font-family: BreeSerif-Regular;
		font-size: 30px;
		color: #004C81;
	}

	.filter-header-img {
		width: 100%;
		margin: 0;
		height: auto;
		padding-top: 15px;
	}

	.filter-header-chevron {
		width: 18px;
		height: 9px;
		display: inline;
	}

	.filter-header-resources {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-left: 3px;
	}

	.filterCard-header2 {
		/* All locations: */
		font-family: OpenSans-Bold;
		font-size: 16px;
		color: #000000;
	}

	.filterCard-list-resources {
		font-family: OpenSans;
		font-size: 16px;
		color: #000000;
		padding-left: 8px;
	}

	.calendar-subsection2-card{
	    margin-right: 0px;
/* 	    	margin-left: 20px;	 */
	}

	.calendar-subsection2{
		padding-left: 30px;
		padding-bottom: 1%;
		position: relative;
		top:40px;
	}

	.calendar-subsection2-text{
		background: #fff;
		padding: 5px;
	}

	.calendar-subsection2-header{
		/* ACTIVITIES CALENDAR: */
		font-family: BreeSerif-Regular;
		font-size: 36px;
		color: #004C81;
		letter-spacing: 0.5px;
		padding-top: 5px;
		padding-left: 10px;
	}
	.calendar-header{
		/* Featured: */
		font-family: BreeSerif-Regular;
		font-size: 30px;
		color: #004C81;

		padding-top: 10px;
	}

	.calendar-subsection2-header2 {
		font-family: OpenSans-Bold;
		font-size: 20px;
		color: #004C81;
	}

	.calendar-subsection2-details {
		padding: 8px;
		background-color: #fff;
	}

	.calendar-subsection2-text {
		background-color: #fff;
	}

	.calendar-subsection2-card {
		background-color: #fff;
	}

	.event-info-txt-bold {
		/* Event - 04/01/17: */
		font-family: OpenSans-Extrabold;
		font-size: 14px;
		color: #00A3DA;

		float: left;
		padding-left: 5px;
	}

	.event-info-txt {
		/* 4:30pm: */
		font-family: OpenSans;
		font-size: 14px;
		color: #00A3DA;
		float: left;
		padding-left: 5px;
	}

	.event-info-icon {
		width: 20px;
		height: 20px;
		float: left;
	}

	.event-info-icon2 {
		display: inline;
		width: 20px;
		height: 20px;
		float: left;
	}

	.event-info1 {
		padding-left: 10px;
		margin-left: 20px;
	}

	.event-info2 {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.event-info {
		display: flex;
		justify-content: space-between;
	}

	.event-paragraph {
		/* Lorem ipsum dolor si: */
		font-family: OpenSans;
		font-size: 16px;
		color: #000000;
	}

	.event-info-bold2 {
	/* Learn More: */
		font-family: OpenSans-Bold;
		font-size: 16px;
		color: #00A3DA;
	}

	#map {
		width: 100%;
		height: 800px;
	}
