
.sidebar {
  height: 100% !important;
  background-color: #004C81;
}

.clippy {
  position: relative;
  bottom: 35px;
  right: 18px;
}

.nav-guide-color {
  color: #FFF200 !important;
}

.organization-content h3 {
  color: #004C81 !important;
}

.row {
  display: flex !important;
}

.content {
  padding: 50px !important;
  background-color: #D1F0F4 !important;
}

.organization-logo img{
  height: 150px;
  width: 200px;
  margin-left: 10px;
}

.organization-info {
  display: flex;
  padding-left: 0 !important;
}

.organization-details {
  padding-bottom: 20px;
}

.organization-content {
  background-color: #FFFFFF;
  padding-bottom: 20px;
}
.divider {
  border-width: 1px;
  border-color: #004C81;
}

.sidebar hr {
  border-color: #00A3DA;
  margin: 10px;
}

.sidebar a{
  color: #FFFFFF;
}

.sidebar h2 {
  color: #FFFFFF;
  text-align: center;
  margin: 30px;
}

.sidebar p{
  padding: 10px 15px;
}

.program-details-link{
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  height: 150px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

}

.program-details-link h4 {
  color: #00A3DA !important;
  font-size: 30px !important;
  text-align: center;
}

#organization-button{
    background: #00A3DA;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-family: OpenSans-Semibold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
    margin-left: 70px;
    display: block;
    text-align: center;
}

.happy-rainbow {
  background-color: #D1F0F4;
  padding-top: 25px;
}
.nav>li>a:hover {
   text-decoration: none;
   background-color: #00A3DA !important;
}

.nav>li>a:focus {
   text-decoration: none;
   background-color: #00A3DA !important;
}



// WHATS NEW BOARD
.sector {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


#whats-new-board {
  background-color: #D1F0F4;
}

#whats-new {
  color: #00A3DA;
  font-family: BreeSerif-Regular;
  margin-left: 8px;
}

.whats-new {
  background-color: #D1F0F4;
  width: 100%;
  }

#view-all {
  float:right;
  margin-top: -54px;
  background-color: #00A3DA;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin-right: 8px;
}

.outer-blue-container {
  // background-color: green;
  background-color: #D1F0F4;
  padding-top: 30px;
}

.new-events {
  font-family: OpenSans-Semibold;
  font-size: 16px;
  color: #00A3DA;
}

.posted-on {
  font-family: OpenSans-Semibold;
  font-size: 12px;
  color: #00A3DA;
}

.learn-more {
  font-family: OpenSans-Semibold;
  font-size: 14px;
  color: #00A3DA;
  float: right;
  margin-top: -3px;
}

.cursor {
  width: 7px;
  margin-left: 10px;
  float: right;
}
