// Place all the styles related to the programs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.happy-rainbow {
  background-color: #D1F0F4;
  padding-top: 25px;
}
