#grey-me {
  color: grey;
}

#survey-results {
  font-family: ‘Open Sans’, sans-serif;
  margin: 10px;
  padding:10px;
  background-color: white;
  color:#00A3DA;
  width: 60%;
  border-radius: 10px;
  text-align: center;
}

.pdf-links {

  color: black;
}
#latest-news {
  font-family: ‘Open Sans’, sans-serif;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding:10px;
  width:40%;
}

#fatherandkids {
  display: block;
  position: relative;
  margin: auto;
  width: 95%;
  height: 500px;
  background-color: #D1F0F4;
  padding-bottom:10px;
}

.light-blue-bg-color {
  background-color: #D1F0F4;
}

.bree-font {
  font-family: BreeSerif-Regular;
  color:#004C81;
}
