.row {
  margin: 0px !important;
}

#grey-font-color {
  color: grey;
}

#survey-results {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  padding:10px;
  background-color: white;
  color:#00A3DA;
  width: 60%;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.pdf-links {
  color: black;
}

#latest-news {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding:10px;
  width:40%;
  font-size: 16px;
}

#latest-news ul {
  padding-right: 20px;
  padding-left: 20px;
}

#fatherandkids {
  display: block;
  position: relative;
  margin: auto;
  width: 95%;
  height: 400px;
  object-fit: cover;
  background-color: #D1F0F4;
  margin-bottom:2%;
  margin-top:1%;
}

.light-blue-bg-color {
  background-color: #D1F0F4;
}

.bree-font {
  font-family: 'Bree Serif', serif;
  color:#004C81;
  font-size: 36px;
}

.bree-font24 {
  font-family: 'Bree Serif', serif;
  color:#004C81;
  font-size: 24px;
}
