<div classs="row">
  <div class="col-xs-12 background-color">
    <div>
      <%= image_tag('Bus_Icon.svg', class: 'bus') %>
      <div class="cloud-text">
        <p class="cloud-text-header">
          Where is Delta, BC?
        </p>
        <p class="cloud-text-body">
          We provide services, programming, and support for children in beautiful Delta, a community of about 100,000 in the Greater Vancouver area of British Columbia. Our area of service includes North Delta, Ladner, and Tsawwassen
        </p>
      </div>
    </div>
  </div>
</div>
