<div class="col-md-12">
  <footer class="footer" style="padding-bottom:50px;">
    <div class="unordered-container">
      <ul>
        <li>
            <a href="https://www.facebook.com/deltaearlyyears/" target="_blank" style="text-decoration:none;"><i class="footer-icon-background fa fa-facebook footer-icon" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://twitter.com/DeltaEarlyYears/" target="_blank" style="text-decoration:none;"><i class="footer-icon-background fa fa-twitter footer-icon" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.pinterest.com/denises2265/?etslf=5231&eq=deltaearly/" target="_blank" style="text-decoration:none;"><i class="footer-icon-background fa fa-pinterest-p footer-icon" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/deltaearlyyears/" target="_blank" style="text-decoration:none;"><i class="footer-icon-background fa fa-instagram footer-icon" aria-hidden="true"></i></a>
        </li>
      </ul>
      <div class="footer-text">
        <h6>Copyright &#9400; 2017</h6>
        <h6>All Rights Reserved &middot; Delta Kids</h6>
      </div>
    </div>
  </footer>
</div>
