<div class="live-page-container">
  <div class="container-fluid live5210-background"></div>
  <br>

  <div class="container-fluid section2" style="border-radius: 5px; padding: 10px 0 20px 0">

    <h4>What is "live 5210"?</h4>    

    <div class="live52102-background">
    </div>

    <div class="container-fluid">
      <p>Have you asked yourself questions like:</p>
      <p>What should my child eat to be healthy?</p>
      <p>She will play on our iPad all day – should I let her?</p>
      <p>I’ve seen commercials saying it’s important for him to be “active” – what does this mean?</p>
      <p>Now there is one answer to all these questions – Live 5-2-1-0!
      Watch the video below to learn more.</p>
    </div>

  <!--  YOUTUBE EMBED  -->

    <div class="container-fluid">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/D9K0LSgGjwY" frameborder="0" allowfullscreen></iframe>
    </div>

  <!--  YOUTUBE EMBED  -->

    <div class="container-fluid">
      <p>Looking for something to do with your child on a rainy day? Planning a picnic in the park and looking for some games? Look no further – the Live 5210 activity ideas below can help! Find the activity ideas based on the age of your child:</p>
      <p>Birth to 1 year old</p>
      <p>Raising an active child starts now! Look at the Activity Ideas and Nutrition pages forideas.</p>
      <p>1 to 4 years old</p>
      <p>Your child is busy and learning more every day. Try some of these Activity Ideas and Nutrition Suggestions.</p>
      <p>5 to 12 years old</p>
      <p>Work with child to set goals for healthy living 5210. Your child can help think of activities and track how it is going on a Goal Tracking Sheet. You can find activity ideas beginning on page 13 of the Interactive Toolkit.</p>
    </div>


    <div class="container-fluid">
      <h3>Plan For Fun Living 5210!</h3>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "carrot.png", class: "carrot-image img-responsive"%>
        </div>

        <div class="col-md-7">
          <p>Get Rewards for Healthy Choices!
            Screen Shot 2016-03-14 at 1.13.32 PMBC’s
            Ministry of Health & the Public Health Agency of
            Canada, with partners, have created “Carrot
            Rewards”, an app to help you make healthy eating
            & activity choices. By joining Carrot Rewards,
            you can earn loyalty points such as Aeroplan®
            Miles, SCENE®, Petro-Points™ and More
            Rewards® each time you do one of their healthy
            activities. To learn more, click here – <a href='https://www.carrotrewards.ca/home/'>Carrot
            Rewards</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <h3>New Resources to Live 5-2-1-0</h3>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag "5210-lets-go@2x.png", class: "lets-go-image img-responsive" %>
        </div>

        <div class="col-md-7">
          <p>See below for some more information and ideas to
          Live 5210 with your children!
          Screen Time to Live 5210 – learn more about healthy
          amounts of screen time for your child!
          5210 Colouring Sheet – print off and spend some
          time colouring and talking about the Live 5210 habits
          with your child.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- /* - Rainbow Footer -*/ -->

<div class="container-fluid happy-rainbow">
 <div class="row">
   <div class="col-md-12">

     <%= image_tag("rainbow-footer-group.svg", class:"center-block") %>

   </div>
 </div>
</div>
