<div class="live-page-container">
    <div class="container-fluid live5210-background"></div>
    <br>
    <div class="container-fluid section2">
    <h4>What is "live 5210"?</h4>
    <div class="container-fluid live52102-background"></div>
    <p>Have you asked yourself questions like:</p>

    <p>What should my child eat to be healthy?</p>
    <p>She will play on our iPad all day – should I let her?</p>
    <p>I’ve seen commercials saying it’s important for him to be “active” – what does this mean?</p>

    <p>Now there is one answer to all these questions – Live 5-2-1-0!
    Watch the video below to learn more.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/D9K0LSgGjwY" frameborder="0" allowfullscreen></iframe>

    <p>Looking for something to do with your child on a rainy day? Planning a picnic in the park and looking for some games? Look no further – the Live 5210 activity ideas below can help! Find the activity ideas based on the age of your child:</p>

    <p>Birth to 1 year old</p>

    <p>Raising an active child starts now! Look at the Activity Ideas and Nutrition pages forideas.</p>

    <p>1 to 4 years old</p>

    <p>Your child is busy and learning more every day. Try some of these Activity Ideas and Nutrition Suggestions.</p>

    <p>5 to 12 years old</p>

    <p>Work with child to set goals for healthy living 5210. Your child can help think of activities and track how it is going on a Goal Tracking Sheet. You can find activity ideas beginning on page 13 of the Interactive Toolkit.</p>

</div>
</div>
